<div class="layout">
  <aside class="sidebar">
    <!-- menú -->
    <app-headercliente></app-headercliente>
  </aside>

  <main class="content">
    <!-- contenido principal -->
     <app-header></app-header>
     <div class="dashboard-container">

  <!-- ===== BIENVENIDA ===== -->
  <div class="titulo">
    <h2>Bienvenido</h2>
    <p>
      Bienvenido nuevamente. Consultá el estado de tus vehículos,
      turnos y presupuestos desde tu panel principal.
    </p>
  </div>

  <!-- ===== RESUMEN ===== -->
  <div class="total">

    <div class="cantidad">
      <div class="icono">
        <i class="fas fa-car">{{vehiculo.length}}</i>
      </div>

      <div class="info">
        <h3>Vehículos</h3>
        <p>Vehículos registrados</p>
      </div>
    </div>

    <div class="cantidad">
      <div class="icono">
        <i class="fas fa-calendar-check">{{turnosPen.length}}</i>
      </div>

      <div class="info">
        <h3>Turnos</h3>
        <p>Turnos pendientes</p>
        @if (turnosPen.length > 0) {
          <button [routerLink]="['/misTurnos']">Ver turno</button>
        }
        


      </div>
    </div>

    <div class="cantidad">
      <div class="icono">
        <i class="fas fa-tools">{{contarFac}}</i>
      </div>

      <div class="info">
        <h3>Facturas</h3>
        <p>Facturas pendiente</p>
        @if (contarFac > 0) {
          <button [routerLink]="['/facturaCliente']">Ver factura</button>
        }
      </div>
    </div>

  </div>

  <!-- ===== GRID PRINCIPAL ===== -->
  <div class="panel-grid">

    <div class="panel-card turno">
      <div class="panel-header">
        <i class="fas fa-calendar-alt"></i>
        <h2>Próximos turnos</h2>
      </div>
      @for (fut of turFuturos; track $index) {

        <div class="fila-turno">

            <div class="col-fecha">
                {{ fut.fecha }}
            </div>

            <div class="col-vehiculo">
                {{ fut.marca }} {{ fut.modelo }}
            </div>

            <div class="col-servicio">
                {{ fut.nombreServicio }}
            </div>

        </div>

        }
    </div>

  </div>

</div>

  </main>
</div>




