.home{

    max-width:1200px;
    margin:auto;
    padding:35px;
}

.welcome{

    margin-bottom:35px;
}

.welcome h1{

    font-size:34px;
    color:#1f2937;
}

.welcome p{

    color:#64748b;
    margin-top:10px;
}

.grid{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;

    margin-bottom:30px;
}

.card{

    background:white;

    border-radius:18px;

    padding:28px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    border:1px solid #edf2f7;
}

.titulo{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:20px;
}

.titulo i{

    color:#2563eb;

    font-size:28px;
}

.titulo h2{

    font-size:22px;

    color:#1f2937;
}

.card h3{

    color:#0f172a;

    margin-bottom:10px;
}

.card p{

    color:#64748b;

    margin:6px 0;
}

.estado{

    display:inline-block;

    margin-top:20px;

    background:#dcfce7;

    color:#166534;

    padding:8px 15px;

    border-radius:50px;

    font-size:14px;

    font-weight:600;
}

.actividad ul{

    list-style:none;

    padding:0;
}

.actividad li{

    padding:12px 0;

    border-bottom:1px solid #e5e7eb;

    color:#475569;
}

.actividad li:last-child{

    border:none;
}