<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <app-header-admin></app-header-admin>
  </aside>

  <!-- CONTENIDO -->
  <main class="content">
 
    <div class="finanzas-container">

      <!-- TOPBAR -->
      <app-header></app-header>

      <!-- KPI CARDS -->
      <div class="cards-finanzas">

        <div class="card kpi ingreso">
          <p>Ingresos del mes</p>
          <h2>${{ ingresosMensuales }}</h2>
        </div>

        <div class="card kpi gasto">
          <p>Gastos del mes</p>
          <h2>${{ egresosMensuales }}</h2>
        </div>

        <div class="card kpi balance">
          <p>Balance del mes</p>
          <h2>${{ balanceMensual }}</h2>
        </div>

      </div>

      <!-- GRID -->
      <div class="finanzas-grid">

        <!-- MOVIMIENTOS -->
        <div class="card">

          <div class="card-header">
            <h2>Últimos movimientos</h2>

            <button
              class="btn-primary"
              (click)="irRegistroFinansas()">
              <i class="fas fa-plus"></i>
              Registrar movimiento 
            </button>
          </div>

          <div class="movimientos-list">

            @for (ult of ultimoMovi; track $index) {
              <div class="movimiento">
              <div>
                <h4>{{ult.categoria}}</h4>
                <span>{{ult.fechaRegistro}}</span>
              </div>

              @if (ult.tipoMovimiento == 'INGRESO') {
                <strong class="ingreso-text" style="color: #22c55e;">+${{ult.monto}}</strong>
              } @else {
                <strong class="ingreso-text" style="color: #d6371f;">-${{ult.monto}}</strong>
              }
              
            </div>

            }

          </div>

        </div>
        <!-- FIN CARD MOVIMIENTOS -->

      </div>
      <!-- FIN GRID -->

    </div>
    <!-- FIN FINANZAS CONTAINER -->

  </main>
  <!-- FIN CONTENT -->

</div>
<!-- FIN LAYOUT -->