<div class="layout">
  <aside class="sidebar">
    <!-- menú -->
     <app-headercliente></app-headercliente>
  </aside>

  <main class="content">
    <!-- contenido principal -->
     <app-header></app-header>
     <div class="contenedor">
  
  <div class="header">
    <h1>Mis vehículos</h1>

    <div class="footer">
      <button class="btn-back" (click)="volverAtras()">Volver</button>
    </div>
    <button class="btn-primary" [routerLink]="['/registrarVehiculo']">
      + Agregar vehículo
    </button>
  </div>

  @if (vehiculo.length === 0) {
    <div class="empty">
      <p>No tenés vehículos registrados 🚗</p>
    </div>
  } @else {
    <div class="grid">
      @for (vehi of vehiculo; track $index) {
        <div class="card">
          <div class="card-header"> 
            <h2>{{ vehi.marca }} {{ vehi.modelo }}</h2>
            <span class="anio">{{ vehi.anio }}</span>
          </div>

          <div class="card-body">
            <p><strong>Patente:</strong> {{ vehi.patente }}</p>
            <button (click)="verVehiculo(vehi.id)">Ver Vehiculo</button>    
          </div>
        </div>

        
      }
    </div>
  }

  
</div>



  </main>
</div>




