<app-header-admin></app-header-admin>

<div class="turnos-container">

  <div class="titulo">
      <h1 >Lista de turnos</h1>
  </div>

  @if (obtenerAsignacion && obtenerAsignacion.length > 0) {

    <div class="lista-turnos">

      @for (asig of obtenerAsignacion; track $index) {

        <div class="card-turno">

          <h4 class="titulo-servicio">
            Servicio solicitado: {{asig.nombreServicio}}
          </h4>

          <div class="info">
            <p><strong>Descripción:</strong> {{asig.descripcion}}</p>
            <p><strong>Marca:</strong> {{asig.marca}} - {{asig.modelo}}</p>
            <p><strong>Patente:</strong> {{asig.patente}}</p>
          </div>

          <div class="acciones">
            <button class="btn-asignar" (click)="abrirModal(asig.id)">Asignar fecha</button>
          </div>

        </div>

      }

    </div>

  } @else {

    <div class="sin-turnos">
      <p>No posee turnos</p>
    </div>

  }

  @if (mostrarModal) {
  <div class="modal-backdrop" (click)="cerrarModal()">

    <div class="modal" (click)="$event.stopPropagation()">
      <h2>Asignar fecha</h2>
      <input type="date" [min]="fechaMinima" [(ngModel)]="fechaAsignacion">

      <div class="acciones-modal">
        <button class="asignar" (click)="asignarFechaTurno()">Asignar</button>
        <button class="cancelar" (click)="cerrarModal()">Cancelar</button>
      </div>
    </div>

  </div>
}