<div class="layout">
  <aside class="sidebar">
    <!-- menú -->
    <app-header-admin></app-header-admin>
  </aside>

  <main class="content">
    <!-- contenido principal -->
     <app-header></app-header>

        <div class="turnos-container">

            <div class="titulo">
                <h1>Lista de turnos</h1>
                <p>Solicitudes pendientes de asignación</p>
                <button class="btn-turno" (click)="idTurnoCasual()">Crear turno</button>
            </div>

            @if (obtenerAsignacion && obtenerAsignacion.length > 0) {

                <div class="tabla-container">

                    <table class="tabla-turnos">

                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Descripción</th>
                                <th>Vehículo</th>
                                <th>Patente</th>
                                <th>Acción</th>
                            </tr>
                        </thead>

                        <tbody>

                            @for (asig of obtenerAsignacion; track $index) {

                                <tr>
                                    <td>{{ asig.nombreServicio }}</td>

                                    <td>{{ asig.descripcion }}</td>

                                    <td>
                                        {{ asig.marca }}
                                        {{ asig.modelo }}
                                    </td>

                                    <td>{{ asig.patente }}</td>

                                    <td>
                                        <button
                                            class="btn-asignar"
                                            (click)="abrirModal(asig.id)">
                                            Asignar
                                        </button>
                                    </td>
                                </tr>

                            }

                        </tbody>

                    </table>

                </div>

            } @else {

                <div class="sin-turnos">
                    No existen turnos pendientes.
                </div>

            }

        </div>
  </main>
</div>


@if (mostrarModal) {

<div class="modal-backdrop" (click)="cerrarModal()">

    <div class="modal" (click)="$event.stopPropagation()">

        <h2>Asignar fecha</h2>

        <input
            type="date"
            [min]="fechaMinima"
            [(ngModel)]="fechaAsignada">

        <div class="acciones-modal">

            <button
                class="asignar"
                (click)="asignarFechaTurno()">
                Confirmar
            </button>

            <button
                class="cancelar"
                (click)="cerrarModal()">
                Cancelar
            </button>

        </div>

    </div>

</div>

}

