<div class="layout">
  <aside class="sidebar">
    <!-- menú -->
     <app-header-admin></app-header-admin>

  </aside>

  <main class="content">
    <!-- contenido principal -->
     <app-header></app-header>
     <div class="container-cliente">
  
  @if(cliente){
    <div class="header-cliente">
      <div class="avatar">
        {{cliente.nombre.charAt(0)}}{{cliente.apellido.charAt(0)}}
      </div>

      <h1>Ficha de Cliente</h1>
      <p class="nombre">{{cliente.nombre}} {{cliente.apellido}}</p>

      <button class="btn-volver" (click)="volverAtras()">
        <i class="fas fa-arrow-left"></i>
        Volver
      </button>
    </div>

    <div class="card-info">
      <div class="campo">
        <h4>Nombre completo</h4>
        <p>{{cliente.nombre}} {{cliente.apellido}}</p>
      </div>
      
      <div class="campo">
        <h4>Email</h4>
        <p>{{cliente.email}}</p>
      </div>
      
      <div class="campo">
        <h4>Teléfono</h4>
        <p>{{cliente.contacto}}</p>
      </div>

      <div class="campo">
        <h4>Provincia</h4>
        <p>{{cliente.provincia}}</p>
      </div>

      <div class="campo">
        <h4>Localidad</h4>
        <p>{{cliente.localidad}}</p>
      </div>
      
      <div class="campo">
        <h4>Dirección</h4>
        <p>{{cliente.direccion}}</p>
      </div>
    </div>
  }

<div class="vehiculos">

    <h1>Vehículos del cliente</h1>

    @if (vehiculo != null) {

        @for (vehi of vehiculo; track $index) {

            <div class="vehiculo-item">

                <div class="vehiculo-info">

                    <div class="dato">
                        <span class="titulo">Marca</span>
                        <p>{{vehi.marca}}</p>
                    </div>

                    <div class="dato">
                        <span class="titulo">Modelo</span>
                        <p>{{vehi.modelo}}</p>
                    </div>

                    <div class="dato">
                        <span class="titulo">Patente</span>
                        <p>{{vehi.patente}}</p>
                    </div>

                </div>

                <button
                    class="btn-detalle"
                    (click)="verDetalleVehiculo(vehi.id)">

                    Ver detalle
                </button>

            </div>

        }

    } @else {

        <div class="sin-vehiculos">
            <p>El cliente no tiene vehículos registrados</p>
        </div>
    }
</div>

</div>
  </main>
</div>

 