/* =========================
   CONTENEDOR
========================= */
.container-cliente{
    max-width:700px;   /* antes 900px */
    margin:20px auto;
}

/* =========================
   HEADER CLIENTE
========================= */
.header-cliente{
    background:white;
    border-radius:16px;
    padding:25px;

    text-align:center;

    box-shadow:
        0 6px 18px rgba(0,0,0,.05);

    margin-bottom:20px;
}

/* =========================
   AVATAR
========================= */
.avatar{
    width:70px;        /* antes 90px */
    height:70px;

    margin:0 auto 15px;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:24px;    /* antes 30px */
    font-weight:700;

    box-shadow:
        0 6px 16px rgba(37,99,235,.25);
}

/* =========================
   TITULOS
========================= */
.header-cliente h1{
    font-size:24px;   /* antes 30px */
    margin-bottom:8px;
}

.nombre{
    font-size:16px;
    color:#64748b;
}

/* =========================
   CARD INFO
========================= */
.card-info{
    background:white;

    border-radius:16px;

    padding:10px 25px;

    box-shadow:
        0 6px 18px rgba(0,0,0,.05);
}

/* =========================
   CAMPOS
========================= */
.campo{
    padding:16px 0;
    border-bottom:1px solid #e5e7eb;
}

.campo:last-child{
    border:none;
}

.campo h4{
    color:#64748b;
    font-size:13px;
    margin-bottom:5px;
    font-weight:600;
}

.campo p{
    color:#111827;
    font-size:15px;   /* antes 17px */
    font-weight:500;
}

/* =========================
   BOTON
========================= */
.btn-vehiculos{
    display:block;

    margin:20px auto 0;

    background:#2563eb;
    color:white;

    border:none;
    border-radius:12px;

    padding:12px 28px;

    font-size:14px;
    font-weight:600;

    cursor:pointer;

    transition:.2s;
}

.btn-vehiculos:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

.layout {
  display: flex;
  height: 100vh; /* ocupa toda la pantalla */
}

.sidebar {
  width: 320px;   /* ancho del menú */
  background: #1f2937;
  color: white;
}

.content {
  flex: 1;        /* ocupa todo el espacio restante */
  background: #f3f6fb;
  padding: 20px;
}