html, body {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 270px;
    height: 100vh;

    background: linear-gradient(180deg, #0f172a, #1e3a8a);
    color: white;

    display: flex;
    flex-direction: column;

    box-shadow: 8px 0 25px rgba(0,0,0,.15);
}

/* LOGO */
.logo-section {
    padding: 25px;
    border-bottom: 1px solid rgba(255,255,255,.08);
}

.logo-section h1 {
    margin: 0;
    font-size: 24px;
}

.logo-section span {
    color: #38bdf8;
}

/* MENU */
.nav-menu {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

/* TITULOS */
.section-title {
    margin: 20px 10px 8px;
    font-size: 11px;
    text-transform: uppercase;
    color: #93c5fd;
}

/* BOTONES */
.nav-btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 15px;
    margin-bottom: 5px;

    border: none;
    border-radius: 10px;

    background: transparent;
    color: #e0f2fe;

    cursor: pointer;
    transition: .2s;
}

.nav-btn:hover {
    background: rgba(56,189,248,.15);
    transform: translateX(2px);
}

.nav-btn.active {
    background: linear-gradient(90deg, #2563eb, #38bdf8);
    color: white;
}

/* LOGOUT */
.user-control {
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.08);
}

.logout-btn {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 10px;

    background: rgba(239,68,68,.15);
    color: #fecaca;

    cursor: pointer;
    transition: .2s;
}

.logout-btn:hover {
    background: #dc2626;
    color: white;
}

/* CONTENIDO */
.content {
    flex: 1;
    height: 100vh;
    background: #f1f5f9;
    overflow: auto;
    padding: 20px;
}