<div class="layout">

    <aside class="sidebar">
        <app-header-admin></app-header-admin>
    </aside>

    <main class="conten">

        <div class="contain">

            <!-- HEADER (NO TOCADO) -->
            <app-header></app-header>

            <div class="cards-container">

                <div class="cards">
                    <h3>Turnos</h3>
                    @if (pendiente) {
                        <p>{{pendiente.length}}</p>
                    }
                </div>

                <div class="kpi orange">
                    <h3>Facturación</h3>
                    @if (ingreso != null) {
                        <p>$ {{ingreso}}</p>
                    }
                </div>

                <div class="kpi purple">
                    <h3>Clientes</h3>
                    <p>{{totalClientes}}</p>
                </div>

            </div>
            
                

            

            <!-- GRID -->
            <div class="grid">

                

                    <!-- TURNOS -->
                    <div class="card">
                        <h2>Turnos del día</h2>

                        <div class="list">
                            <ul>

                                @if (pendiente != null && pendiente.length > 0) {

                                    @for (pen of pendiente; track $index) {

                                        <li >

                                            <div class="turno-info">
                                                <span class="cliente">
                                                    {{pen.nombreCliente}} {{pen.apellidoCliente}}
                                                </span>

                                                <span class="vehiculo">
                                                    {{pen.marca}} {{pen.modelo}}
                                                </span>
                                            </div>

                                            <span class="servicio">
                                                {{pen.nombreServicio}}
                                            </span>

                                        </li>

                                    }

                                } @else {
                                    <p class="empty">No hay turnos este día</p>
                                }

                            </ul>
                        </div>
                    </div>

                    <!-- FACTURAS -->
                    <div class="card">
                        <h2>Facturación reciente</h2>

                        <table>
                            <tr>
                                <th>Factura</th>
                                <th>Cliente</th>
                                <th>Monto</th>
                                <th>Estado</th>
                            </tr>

                            @for (ult of ultimas; track $index) {
                                <tr>
                                    <td>{{ formatearFactura(ult.numeroFactura) }}</td>
                                    <td>{{ult.nombreCliente}}</td>
                                    <td>{{ult.monto}}</td>
                                    <td class="estado {{ult.estado.toLowerCase()}}">
                                        {{ult.estado}}
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

            </div>

        </div>

    </main>

</div>