<div class="layout">
  <aside class="sidebar">
    <!-- menú -->
     <app-header-admin></app-header-admin>
  </aside>

  <main class="content">
    <!-- contenido principal -->
     <app-header></app-header>
     <div class="facturacion">
 
    <div class="titulo">
        <h1>Facturación</h1>
        <p>Gestión de ingresos, facturas y cobros</p>
    </div>

    <div class="cards">

        <div class="card">
            <h3>📄 Facturas emitidas</h3>
            <span>127</span>
        </div>

        <div class="card">
            <h3>💰 Cobrado del mes</h3>
            <span>$2.400.000</span>
        </div>

        <div class="card">
            
            @if (factura.length > 0) {
                <span>{{factura.length}}</span>
                <h3>⚠ Pendientes</h3>
                <button [routerLink]="['/paraFacturar']">Facturar</button>
            } @else {
                <p>No se encuntrar pendientes</p>
            }
            
        </div>

    </div>

    <div class="contenido">

        <div class="facturas-recientes">

            <h2>Facturas recientes</h2>

            <table>

                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                <tbody>
                    @for (fac of facturas; track $index) {

                        <tr>
                            <td>
                                {{fac.nombreCliente}} {{fac.apellidoCliente}}
                            </td>
                            <td>
                                {{fac.fechaRegistro}}
                            </td>
                            <td>
                                {{fac.estadoPresupuesto}}
                            </td>
                            <td>
                                {{fac.total}}
                            </td>
                            <td>
                                <button (click)="verFactura(fac.id)">Ver factura</button>
                            </td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>


        <div class="panel-lateral">

    
            <h2 class="resumen">Resumen</h2>

            <div class="dato">
                <span>Facturado</span>
                <strong>$2.400.000</strong>
            </div>

            <div class="dato">
                <span>Cobrado</span>
                <strong>$2.100.000</strong>
            </div>

            <div class="dato">
                <span>Pendiente</span>
                <strong>$300.000</strong>
            </div>

        </div>

    </div>

</div>

  </main>
</div>

