h2{
    margin-top: 15px;
}


.clientes{
    border: solid 1px;
    padding: 15px;
    border-radius: 10px;
    margin: 25px;
    background-color: rgba(255, 228, 196, 0.733);
}

.botonver{
    padding: 10px;
    border-radius: 5px;
}
.titulo{
    display: flex;
    align-items: center;
}

.botonagregar{
    margin-left: 50px;
    border: solid 1px;
    padding: 15px;
    border-radius: 10px;
    margin: 25px;
}