<div class="layout">
  <aside class="sidebar">
    <app-header-admin></app-header-admin>
  </aside>

  <main class="content">

    <app-header></app-header>

    <div class="titulo">
        <h1>Registrar un movimiento</h1>
        <p>Complete el formulario</p>
    </div>

    <form class="formulario" (ngSubmit)="registrarMovimiento()">

        <div class="campo">
            <label>Seleccione un movimiento:</label>
            <select name="movimiento" [(ngModel)]="movimiento">
                <option value="">Seleccione una opción</option>
                <option value="INGRESO">Ingreso</option>
                <option value="GASTOS">Gasto</option>
            </select>
        </div>

        <div class="campo">
            <label>Seleccione una categoría:</label>

            <select name="categoria" [(ngModel)]="categoria">
                <option value="">Seleccione una categoría</option>

                @if (movimiento == 'INGRESO') {
                    <option value="REPARACIONES">Reparaciones</option>
                    <option value="MANO_OBRA">Mano de obra</option>
                    <option value="VENTA_REPUESTOS">Venta de repuestos</option>
                    <option value="SERVICIOS">Servicios</option>
                    <option value="DIAGNOSTICOS">Diagnósticos</option>
                    <option value="OTROS_INGRESOS">Otros ingresos</option>
                }

                @if (movimiento == 'GASTOS') {
                    <option value="COMPRA_REPUESTOS">Compra de repuestos</option>
                    <option value="SUELDOS">Sueldos</option>
                    <option value="SERVICIOS">Servicios</option>
                    <option value="ALQUILER">Alquiler</option>
                    <option value="HERRAMIENTAS">Herramientas</option>
                    <option value="IMPUESTOS">Impuestos</option>
                    <option value="MANTENIMIENTO">Mantenimiento</option>
                    <option value="OTROS_GASTOS">Otros gastos</option>
                }
            </select>
        </div>

        <div class="campo">
            <label>Ingrese un concepto:</label>
            <input
                type="text"
                name="concepto"
                [(ngModel)]="concepto"
                placeholder="Ej.: Reparación de motor">
        </div>

        <div class="campo">
            <label>Ingrese el importe:</label>
            <input
                type="number"
                name="importe"
                [(ngModel)]="importe"
                placeholder="$ 0,00">
        </div>

        <div class="botones">
            <button type="submit" class="btn-guardar">
                Registrar
            </button>

            <button type="button" class="btn-cancelar">
                Cancelar
            </button>
        </div>

    </form>

</main>
</div>